.searchbar {
	margin-left: 150px;
	max-width: 310px;
	display: inline-flex;
	text-align: left;
	padding-bottom: 20px;
	align-content: center;
	font-size: 2rem;
	padding: 25px 15px;
}

.button {
	margin-left: 5px;
}

